.feedDiv button {
  font-family: 'DejaVu Sans Mono', sans-serif;
}

.feedDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c4fff9;
  background-size: cover;
  padding-bottom: 60px;
}


