.feedImage {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.feedContainer {
  margin-top: 50px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.feedContainer p {
  font-family: 'DejaVu Sans Mono', sans-serif;
}

.username {
  border-radius: 10px 10px 0 0;
  width: 100%;
  background-color: #9ceaef;
}

.username h3 {
  text-align: center;
}



#matchButtons {
  display: flex;
  gap: 10px;
}

#matchButtons {
  flex-direction: row;
  margin-bottom: 20px;
}

.myButton {
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}