@import url('http://fonts.cdnfonts.com/css/dejavu-sans-mono');

body {
  margin: 0;
  background-color: #07beb8;
}

.LoginTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 70px;
}

.LoginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.LoginInDiv {
  height: 100%;
  width: 100%;
  margin: 0, 0, 0, 0;
  display: flex;
  justify-content: center;
  background-image: url('https://images.pond5.com/computer-coding-background-footage-090890180_prevstill.jpeg');
  background-size: cover;
  padding: 0px;
  margin: 0px;
}

.title {
  color: rgb(228, 220, 220);
  /* color: white; */
  font-size: 56px;
  font-family: 'DejaVu Sans Mono', sans-serif;
}

.id {
  font-family: 'DejaVu Sans Mono', sans-serif;
  background: transparent;
  border: none;
  color: white;
}

.password {
  font-family: 'DejaVu Sans Mono', sans-serif;
  background: transparent;
  border: none;
  color: white;
}

.LoginScreenButtons {
  display: flex;
  gap: 20px;
}

.loginButtons {
  display: flex;
  font-family: 'DejaVu Sans Mono', sans-serif;
  display: inline;
  margin: 0 auto;
  border-radius: 5px;
}

.loginImage {
  width: auto;
  height: 140px;
}
/* Animations for Buttons */
.loginButtons,
.loginButtons:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 14px;
  font-family: 'DejaVu Sans Mono', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #07beb8 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 5px 0px 0px #c4fff9;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.loginButtons:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'Star-nosed Moles';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.loginButtons:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .loginButtons,
  .loginButtons:after {
    width: 100px;
    height: 45px;
    line-height: 20px;
  }
}

.wrongLogin {
  color: red;
  font-size: 20px;
}

/*
    height: 86px;
    line-height: 88px;
*/
