.matchesImage {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.matchesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 500px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.matchesContainer p {
  font-family: 'DejaVu Sans Mono', sans-serif;
  align-items: center;
}

.username {
  border-radius: 10px 10px 0 0;
  width: 100%;
  background-color: #9ceaef;
}

.username h3 {
  text-align: center;
}

.profile-btn {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 250px;
  height: auto;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 20px;
  z-index: 0;
}

.profile-btn:focus {
  outline: 0;
}

.profile-btn:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.profile-btn:hover:after {
  bottom: 2px;
  left: 2px;
}
/* button {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid rgb(7, 190, 184);
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgb(7, 190, 184);
  text-align: center;
  transition: all 0.15s;
} 
button:hover {
  color: #dddddd;
  border-color: #dddddd;
}
a button:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}
@media all and (max-width: 30em) {
  a button {
    display: block;
    margin: 0.4em auto;
  }
} */
