@import url('http://fonts.cdnfonts.com/css/dejavu-sans-mono');

.navBar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #07beb8;
  height: 10%;
  box-shadow: none;
  border-bottom: 2px solid black;
}
.mascot {
  font-family: 'DejaVu Sans Mono', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mascot h1 {
  font-size: 32px;
}
.navBar button {
  font-family: 'DejaVu Sans Mono', sans-serif;
}

.navBarImage {
  height: 95px;
  width: auto;
}

.navBtn {
  margin: 0 10px;
}

/* CSS */
.navBtn {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 250px;
  height: auto;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.navBtn:focus {
  outline: 0;
}

.navBtn:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.navBtn:hover:after {
  bottom: 2px;
  left: 2px;
}
