.profilePage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImage {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.profileContainer {
  margin-top: 50px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.profileContainer p {
  font-family: 'DejaVu Sans Mono', sans-serif;
}

.username {
  border-radius: 10px 10px 0 0;
  width: 100%;
  background-color: #9ceaef;
  font-family: 'DejaVu Sans Mono', sans-serif;
  text-align: center;
}

.logOutBtn {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  position: absolute;
  top: 160;
  right: 720;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 40px;
  height: 40px;
  max-width: 460px;
  cursor: pointer;
  transform: rotate(365deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.logOutBtn:focus {
  outline: 0;
}

.logOutBtn:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.logOutBtn:hover:after {
  bottom: 2px;
  left: 2px;
}
