.profilePage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImage {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.profileContainer {
  margin-top: 50px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.profileContainer p {
  font-family: 'DejaVu Sans Mono', sans-serif;
}

.username {
  border-radius: 10px 10px 0 0;
  width: 100%;
  background-color: #9ceaef;
  font-family: 'DejaVu Sans Mono', sans-serif;
  text-align: center;
}
.updateProfile{
  margin-bottom: 13px;
}
.profile-bio{
  display: flex;
  flex-direction: column;
  border: 5px solid #9ceaef;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  background-color: #09e5f518;
  font-family:'DejaVu Sans Mono', sans-serif;
}
.forproglang{
  margin-top: 10px;
  margin-bottom: 10px;
}
