/* .profile {
  border: solid black;
}

.profile-page {
  border: solid red;
}

.profile-image {
  border: solid blue;
  text-align:center;
}

.profile-bio {
  border: solid blue;
  text-align:center;
} */
h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
}

.prompt-btn {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 250px;
  height: auto;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 20px;
}

.prompt-btn:focus {
  outline: 0;
}

.prompt-btn:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.prompt-btn:hover:after {
  bottom: 2px;
  left: 2px;
}
